table {
    width: 98%;
}

.pointer{
    cursor: pointer;
}
.mat-form-field {
    font-size: 20px;
    width: 100%;
}
p{
    font-size: 25px;
    color: #170F49;
    text-align: center;
}

th,td{
    font-size: 12px;
}
.btn{
    background-color: #00AEE1;
}
.search{
    margin-left: 10px;
}


.container-all{
    display: flex;
    margin-top: 40px;
}
.list{
    width: 100%;
    margin: 0px 20px 0px 20px;
    
}