<div class="container-side"> 
    <div class="container"> 
        <div> 
            <p class="header-section"> PROVEEDOR </p> 
            <p class="link-c"> Nuevo proveedor</p> 
            <p class="link-c"> Lista de proveedores</p> 
        </div> 
        <div class="line"></div> 
        <div> 
            <p class="header-section"> PRODUCTOS MANUFACTURADOS</p> 
            <p class="link-c"> Insertar produccion de manufacturado</p> 
            <p class="link-c"> Listar produccion de manufactura</p> 
        </div> 
        <div class="line"></div> 
        <div> 
            <p class="header-section"> PRESUPUESTOS</p> 
            <p class="link-c"> Nuevo presupuesto</p> 
            <p class="link-c"> Listado</p> 
        </div> 
        <div class="line"></div> 
        <div> 
            <p class="header-section"> PEDIDOS</p> 
            <p class="link-c"> Nuevo pedido</p> 
            <p class="link-c"> Listado</p> 
        </div> 
        <div class="line"></div> 
        <div> 
            <p class="header-section"> PEDIDOS A PROVEEDOR</p> 
            <p class="link-c"> Crear pedido de compra</p> 
            <p class="link-c"> Listado</p> 
            <div class="list-supplier"> 
                <p class="link-c">Borrador</p> 
                <p class="link-c">Validado</p> 
                <p class="link-c">Aprobado</p> 
                <p class="link-c">Pedido</p> 
                <p class="link-c">Recibido parcialmente</p> 
                <p class="link-c">Recibidos</p> 
                <p class="link-c">Anulados</p> 
                <p class="link-c">Rechazado</p> 
            </div> 
        </div> 
    </div> 
</div>