<div class="container">
    <div class="cont-header">
        <h1>Administración de proveedores</h1>
        <div class="line"></div>
    </div>
    <div class="container ">
        <a class="link-list">VOLVER A LISTADO</a>
        <h2 class="info-h">PROVEEDOR</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="text-input" for="Nombre">Nombre: </label>
                    <p>example</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="text-input" for="Nombre">Teléfono: </label>
                    <p>example</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="text-input" for="Nombre">Email: </label>
                    <p>example</p>
                </div>
            </div>
        </div>
        <div>
            <div class="table-products">
                <label class="text-input" for="Nombre">Productos asociados </label>
                <table class="table align-middle mb-0 bg-white table-hover">
                        <thead class="bg-light table-light">
                            <tr class="text-th">
                                <th>Producto</th>
                                <th class="td-tx">Codigo</th>
                                <th class="td-tx">Precio Unitario</th>
                                <th class="td-tx">IVA</th>
                                <th class="td-tx">Almacen</th>
                                <th class="td-tx">Categoria</th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let card of products">
                            <tr>
                                <td>
                                    <p class="fw-normal mb-1">{{card.title}}</p>
                                </td>
                                <td class="td-tx">
                                    <p>{{card.code}}</p>
                                </td>
                                <td class="td-tx">
                                    <p>{{card.unit_price}}</p>
                                </td>
                                <td class="td-tx">
                                    <p>{{card.iva}}</p>
                                </td>
                                <td class="td-tx">
                                    <p>{{card.warehouse}}</p>
                                </td>
                                <td class="td-tx">
                                    <p>{{card.category}}</p>
                                </td>
                            </tr>
                        </tbody>
                </table>
            </div>
            
            <label class="text-input" for="Nombre">Presupuestos asociados </label>
            <table class="table align-middle mb-0 bg-white table-hover">
                    <thead class="bg-light table-light">
                        <tr class="text-th">
                            <th>Ref. Presupuesto</th>
                            <th class="td-tx">Base imponible</th>
                            <th class="td-tx">Descuentos</th>
                            <th class="td-tx">Fecha de entrega</th>
                            <th class="td-tx">Condiciones de pago</th>
                            <th class="td-tx">Tipo de pago</th>
                            <th class="td-tx">Divisa</th>
                            <th class="td-tx">Presupuesto actual</th>
                            <th class="td-tx">Estado</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let card of budgets">
                        <tr>
                            <td>
                                <p class="fw-normal mb-1">{{card.ref}}</p>
                            </td>
                            <td class="td-tx">
                                <p>{{card.base}}</p>
                            </td>
                            <td class="td-tx">
                                <p>{{card.discounts}}</p>
                            </td>
                            <td class="td-tx">
                                <p>{{card.delivery_date}}</p>
                            </td>
                            <td class="td-tx">
                                <p>{{card.conditions}}</p>
                            </td>
                            <td class="td-tx">
                                <p>{{card.type_payment}}</p>
                            </td>
                            <td class="td-tx">
                                <p>{{card.divida}}</p>
                            </td>
                            <td class="td-tx">
                                <p>{{card.quotation}}</p>
                            </td>
                            <td class="td-tx">
                                <p>{{card.state}}</p>
                            </td>
                        </tr>
                    </tbody>
            </table>

            <div class="content-btn">
                <button class="btn">Crear presupuesto</button>
                <button class="btn">Crear pedido</button>
            </div>
            
        </div>
    </div>
</div>