.pass-rec{
	width: 750px !important;
	max-width: 100% !important;
	background: #FFFFFF;
	border: 1px solid #EFF0F7;
	box-shadow: 0px 5px 16px rgba(8, 15, 52, 0.06);
	margin: 100px auto 0 !important;
	padding: 50px !important;
	border-radius: 34px;
}
.header-p h3{
    font-weight: bold;
}
.linea {
    border-top: 1px solid #D9DBE9;
    height: 2px;
    max-width: 700px;
    padding: 0;
    margin-bottom: 30px;
}

.form-pass {
    margin: 50px;
}

.form-group label{
    font-weight: bolder;
    margin-bottom: 20px;
}

.form-group input{
    border: 1px solid #EFF0F7;
    box-shadow: 0px 2px 6px rgba(19, 18, 66, 0.07);
    border-radius: 10px;
    margin-bottom: 20px;
    height: 50px;
}

.btn-submit-pass{
    width: 100%;
    color: #FFFFFF;
    background: #0A457F;
    box-shadow: 0px 3px 12px rgba(74, 58, 255, 0.18);
    border-radius: 10px;
    height: 45px;
}

.btn-submit-:hover{
    background: #3371af;
}