<div class="container">
    <div class="cont-header">
        <h1>Registro de proveedores</h1>
        <div class="line"></div>
    </div>
    <div class="container ">
        <h2 class="text-prov">PROVEEDOR</h2>
        <form>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="text-input" for="Nombre">Nombre</label>
                        <div class="input-wrapper">
                            <input type="text" class="form-control input-register" id="Nombre" placeholder="Nombre">
                            <svg class="svg-icon input-icon" viewBox="0 0 20 20">
                            <path fill="#A0A3BD" d="M10,10.9c2.373,0,4.303-1.932,4.303-4.306c0-2.372-1.93-4.302-4.303-4.302S5.696,4.223,5.696,6.594C5.696,8.969,7.627,10.9,10,10.9z M10,3.331c1.801,0,3.266,1.463,3.266,3.263c0,1.802-1.465,3.267-3.266,3.267c-1.8,0-3.265-1.465-3.265-3.267C6.735,4.794,8.2,3.331,10,3.331z"></path>
                            <path fill="#A0A3BD" d="M10,12.503c-4.418,0-7.878,2.058-7.878,4.685c0,0.288,0.231,0.52,0.52,0.52c0.287,0,0.519-0.231,0.519-0.52c0-1.976,3.132-3.646,6.84-3.646c3.707,0,6.838,1.671,6.838,3.646c0,0.288,0.234,0.52,0.521,0.52s0.52-0.231,0.52-0.52C17.879,14.561,14.418,12.503,10,12.503z"></path>
                        </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="text-input" for="direccion">Dirección</label>
                        <div class="input-wrapper">
                            <input type="text" class="form-control input-register" id="direccion" placeholder="Dirección">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon input-icon icon-tabler icon-tabler-map-pin" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="11" r="3"></circle>
                                <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path>
                             </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="text-input" for="telefono">Teléfono</label>
                        <div class="input-wrapper">
                            <input type="text" class="form-control input-register" id="telefono" placeholder="Teléfono">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon input-icon icon-tabler icon-tabler-phone" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path>
                             </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label class="text-input" for="email">Email</label>
                        <div class="input-wrapper">
                            <input type="text" class="form-control input-register" id="email" placeholder="Email">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon input-icon icon-tabler icon-tabler-at" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="12" cy="12" r="4"></circle>
                                <path d="M16 12v1.5a2.5 2.5 0 0 0 5 0v-1.5a9 9 0 1 0 -5.5 8.28"></path>
                             </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row btn-c">
                <button type="button" class="btn btn-continue">Registrar</button>
            </div>
        </form>
    </div>
</div>