table {
    align-items: center;
    width: 100%;
}
th{
    width: 20%;
}
.btn-volver{
    margin-top: 3%;
    text-align: left;
}
span{
    color: #170F49;
}
.pointer{
    cursor: pointer;
}
.body{
    display: flex;
    height: 100%;
    background-color: #f5f5f5;
}
.container{
    width: 50%;
    max-width: 100%;
    border-radius:20px;
}
.toolbar{
    margin-top: 0%;
}

  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.btn{
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
}
