<div class="container cont-all">
    <mat-toolbar class="toolbar">
        <span>Lista de pedidos a proveedor</span>  
    </mat-toolbar>
    <div class="agregar">
      <button mat-raised-button class="btn" >
        <svg class="pointer" matTooltip="Nuevo Pedido" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart-plus" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <circle cx="6" cy="19" r="2" />
          <circle cx="17" cy="19" r="2" />
          <path d="M17 17h-11v-14h-2" />
          <path d="M6 5l6.005 .429m7.138 6.573l-.143 .998h-13" />
          <path d="M15 6h6m-3 -3v6" />
        </svg>
      </button>
      <mat-grid-list cols="8">
        <mat-grid-tile [colspan]="6" [rowspan]="1">
          <mat-form-field appearance="standard">
            <mat-label>Buscar Pedido</mat-label>
            <input matInput  placeholder="buscar" #input autocomplete="off">
          </mat-form-field>        
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button class="btn">
            <svg class="pointer" matTooltip="buscar" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <circle cx="10" cy="10" r="7" />
              <line x1="21" y1="21" x2="15" y2="15" />
            </svg>
          </button>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <button mat-raised-button class="btn">
            <svg class="pointer" matTooltip="Filtrar producto" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-adjustments-alt" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
              <rect x="4" y="8" width="4" height="4" />
              <line x1="6" y1="4" x2="6" y2="8" />
              <line x1="6" y1="12" x2="6" y2="20" />
              <rect x="10" y="14" width="4" height="4" />
              <line x1="12" y1="4" x2="12" y2="14" />
              <line x1="12" y1="18" x2="12" y2="20" />
              <rect x="16" y="5" width="4" height="4" />
              <line x1="18" y1="4" x2="18" y2="5" />
              <line x1="18" y1="9" x2="18" y2="20" />
            </svg>
          </button>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div class="body">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">   
            <!-- Referencia Column -->
            <ng-container matColumnDef="referencia">
                <th mat-header-cell *matHeaderCellDef> Referencia </th>
                <td mat-cell *matCellDef="let element"> {{element.referencia}} </td>
            </ng-container>
            <!-- Proveedor Column -->
            <ng-container matColumnDef="proveedor">
              <th mat-header-cell *matHeaderCellDef> proveedor </th>
              <td mat-cell *matCellDef="let element"> {{element.proveedor}} </td>
            </ng-container>
            <!-- solicitante Column -->
            <ng-container matColumnDef="solicitante">
              <th mat-header-cell *matHeaderCellDef>solicitante</th>
              <td mat-cell *matCellDef="let element"> {{element.solicitante}} </td>
            </ng-container>
            <!-- fechaPedido Column -->
            <ng-container matColumnDef="fechaPedido">
              <th mat-header-cell *matHeaderCellDef>Fecha del Pedido</th>
              <td mat-cell *matCellDef="let element"> {{element.fechaPedido}} </td>
            </ng-container>   
            <!-- fechaLlegada Column -->
            <ng-container matColumnDef="fechaLlegada">
              <th mat-header-cell *matHeaderCellDef>fecha de Entrega</th>
              <td mat-cell *matCellDef="let element"> {{element.fechaLlegada}} </td>
            </ng-container>   
            <!-- baseImponible Column -->
            <ng-container matColumnDef="baseImponible">
              <th mat-header-cell *matHeaderCellDef>base Imponible</th>
              <td mat-cell *matCellDef="let element"> {{element.baseImponible}} </td>
            </ng-container>            
            <!-- estado Column -->
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>estado</th>
              <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
            </ng-container>
            <!-- estado Column -->
            <ng-container matColumnDef="facturado">
              <th mat-header-cell *matHeaderCellDef>Facturado</th>
              <td mat-cell *matCellDef="let element"> {{element.facturado}} </td>
            </ng-container>                    
            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
              <th mat-header-cell *matHeaderCellDef>  </th>
              <td mat-cell *matCellDef="let element; let i = index" style="text-align: right;"> 
                  <a class="pointer"  matTooltip="Editar">
                      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#00AEE1" fill="none" stroke-linecap="round" stroke-linejoin="round">
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                          <path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4" />
                          <line x1="13.5" y1="6.5" x2="17.5" y2="10.5" />
                      </svg>
                  </a>
                  <a class="pointer" (click)="seeOrder(i)" matTooltip="Ver Orden">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-eye" width="32" height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                      <circle cx="12" cy="12" r="2" />
                      <path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
                    </svg>
                  </a>
            </td>
            </ng-container>  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>    
  </div>
</div>


