<div class="container pass-rec">
    <div class="header-p">
        <h3>Recuperar contraseña</h3>
        <div class="line"></div>
    </div>

    <form [formGroup]="updatePassForm">
        <div class="form-pass">
            <div class="form-group">
                <label>Nueva contraseña</label>
                <input class="form-control" formControlName="password" type="password" placeholder="Nueva contraseña"/>
            </div>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.password">
                    <div class="error-message"
                        *ngIf="updatePassForm.get('password').hasError(error.type) && (updatePassForm.get('password').dirty || updatePassForm.get('password').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </div>

            <div class="form-group">
                <input class="form-control" formControlName="confirmpassword" type="password" placeholder="Confirmar contraseña"/>
            </div>
            <div class="error-messages">
                <ng-container *ngFor="let error of error_messages.confirmpassword">
                    <div class="error-message"
                        *ngIf="updatePassForm.get('confirmpassword').hasError(error.type) && (updatePassForm.get('confirmpassword').dirty || updatePassForm.get('confirmpassword').touched)">
                        {{ error.message }}
                    </div>
                </ng-container>
            </div>

            <div class="error-message" *ngIf="passwordMatchError">
                La contraseña no coincide
            </div>

            <button class="form-control btn btn-submit-pass" [disabled]="!updatePassForm.valid">Restablecer Contraseña</button>
        </div>

    </form>
</div>