<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="top-nav-bar.component.css">+

<header>

    <nav class="navigation">
      <div class="logo"> 
        <img src="assets/svg/logo-pymes.svg" height="40px">
      </div>
      
      <div class="toggle__menu" id="toggle-menu">
        <i class="bx bx-grid-alt"></i>
      </div>
      <ul class="nav__list nav_menu" id="nav-menu">
        <div class="close__menu" id="close-menu">
          <i class="bx bx-x"></i>
        </div>
        <li class="nav__item">
          <a href="#" class="nav__link">Menú</a>
        </li>
        <li class="nav__item dropdown nav_list_menu">
          <a href="#" class="nav__link dropdown__link">Productos 
            <i class="bx bxs-chevron-down dropdown__icon"></i>
          </a>

          <div class="megamenu">
            <ul class="content">
              <li class="megamenu__item header__megamenu">Ej</li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-palette"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Learn the basics of users</p>
                </div>
              </li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-sidebar"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Create your own user experience</p>
                </div>
              </li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-rocket"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Create your own user experience</p>
                </div>
              </li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-user-voice"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Get custom training</p>
                </div>
              </li>
            </ul>
            <ul class="content">
              <li class="megamenu__item header__megamenu">Ej</li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-palette"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Learn the basics of users</p>
                </div>
              </li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-sidebar"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Create your own user experience</p>
                </div>
              </li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-rocket"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Create your own user experience</p>
                </div>
              </li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-user-voice"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Get custom training</p>
                </div>
              </li>
            </ul>
            <ul class="content">
              <li class="megamenu__item header__megamenu">Ej</li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-palette"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Learn the basics of users</p>
                </div>
              </li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-sidebar"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Create your own user experience</p>
                </div>
              </li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-rocket"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Create your own user experience</p>
                </div>
              </li>
              <li class="megamenu__item">
                <div class="menu__icon">
                  <i class="bx bx-user-voice"></i>
                </div>
                <div class="megamenu__link">
                  <a href="#">Ej</a>
                  <p>Get custom training</p>
                </div>
              </li>
            </ul>
          </div>
        </li>

        

        <li class="nav__item"><a href="#" class="nav__link">Empresas</a></li>

        <li class="nav__item"><a routerLink="/select_register" class="nav__link register__link">Regístrate</a></li>
        <li class="nav__item"><a href="#" class="nav__link login__link">Iniciar Sesión</a></li>
      </ul>
    </nav>

  
</header>