<div class="header-h">
    <h1>Encuentra todo lo que buscas en un solo lugar</h1>
    <div class="container">
        <div class="row content-h">
            <div class="col-md-7">
                <div class="form-group row cont-all">
                    <div class="col-sm-7 input-cont">
                        <div class="input-wrapper">
                            <input type="text" class="form-control input-register" id="nombre" placeholder="Nombre producto">
                        </div>
                    </div>
                    <div class="col-sm-1 input-cont">
                        <button class="btn btn-search">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="10" cy="10" r="7"></circle>
                                <line x1="21" y1="21" x2="15" y2="15"></line>
                            </svg>
                        </button>
                    </div>       
                </div>
            </div>
        </div>
        
    
    </div>
</div>
