<div class="container">
    <mat-toolbar class="toolbar">
        <span class="fill-remaining-space"></span>
        <span>Registrar Libro Diario</span>
        <span class="fill-remaining-space"></span>
    </mat-toolbar>
    <form>
       <mat-grid-list cols="6" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">  
                <mat-label class="mat-label">Comprobante: </mat-label>      
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <input  class="form-control" name="comprobante" placeholder="comprobante">
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label>Fecha:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <input  class="form-control" name="Fecha" placeholder="fecha">            
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label>Tipo:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-form-field appearance="fill">
                    <select matNativeControl required>
                      <option value="haber">HABER</option>
                      <option value="debe">DEBE</option>
                    </select>
                </mat-form-field>        
            </mat-grid-tile>          
       </mat-grid-list>
       <mat-grid-list cols="6" rowHeight="100px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label>Razón social:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <input  class="form-control" name="razonSocial" placeholder="Razón social">            
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
                <mat-label>Glosa:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="2" [rowspan]="1">
                <input  class="form-control" name="glosa" placeholder="Glosa">            
            </mat-grid-tile>  
       </mat-grid-list>
       
    </form>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z3">
        <!-- Cuenta Column -->
        <ng-container matColumnDef="account">
            <th mat-header-cell *matHeaderCellDef> Cuenta </th>
            <td mat-cell *matCellDef="let element"> {{element.account}} </td>
          </ng-container>
        <ng-container matColumnDef="should">
          <th mat-header-cell *matHeaderCellDef> Debe </th>
          <td mat-cell *matCellDef="let element"> {{element.should}} </td>
        </ng-container>
     
        <!-- Nombre Column -->
        <ng-container matColumnDef="haber">
          <th mat-header-cell *matHeaderCellDef>Haber</th>
          <td mat-cell *matCellDef="let element"> {{element.haber}} </td>
        </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
     
    <mat-grid-list cols="15" rowHeight="100px">
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
            <button mat-raised-button  class="width" style="color: #02890F;"> Registrar </button>  
        </mat-grid-tile>
   
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button mat-raised-button style="color: #0A457F;" > Cancelar </button>  
        </mat-grid-tile>
 
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-label>Total:</mat-label>
        </mat-grid-tile>
   
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <mat-label>Bs</mat-label>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <button data-target="#modalJournalType" class="btn btn-submit" style="margin-bottom: 10px;" data-toggle="modal" id="btn-addType" >+</button>
        </mat-grid-tile>
       
        <mat-grid-tile [colspan]="2" [rowspan]="1" >
            <button mat-raised-button style="color: #170F49;"> Ver Compras </button>  
        </mat-grid-tile>
   
        <mat-grid-tile [colspan]="2" [rowspan]="1">
            <button mat-raised-button style="color: #170F49;" > Ver Ventas </button>  
        </mat-grid-tile>
   </mat-grid-list>
<!--Modal Realizar  PEDIDO-->
<div id="modalJournalType" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="padding: 10px;">
            <form action="">
                <div class="form-group">
                    <label style="font-size: 25px; " for="Nombre">REALIZAR PEDIDO</label>
                    <br>                    
                    <p>¿ESTA SEGURO DE QUERER CONFIRMAR ESTE PEDIDO
                        EN FECHA DE:</p>
                    <p>00-00-0000?</p>                   
                </div>
                <div style="margin-top: 10px;">
                    <button type="button" id="btnValidate"  class="btn btn-modals">SI</button>
                    <button type="button" id="btnCloseModal" class="btn btn-modals">NO</button>           
                </div>
            </form>
        </div>
    </div>
</div>
<!--fin modal -->
 </div>
